

<div class="offset-by-one eight columns double-bottom">
	<h2><%= link_to @lyric.title, lyric_path( @lyric ) %></h2>
	<h5>- a song about <%= @lyric.topic.title %></h5>
</div>

<% if @versions_for_select %>

	<div class="offset-by-one eight columns double-bottom">

		<%= render 'shared/lyric_versions_select' %>

	</div>

<% end %>

<div id="lyric-version-container">

<%= render 'shared/lyric_version' %>

</div>