
<h2><%= @lyric.title %></h2>
<h3><%= @lyric_version.title %></h3>
<% @lyric_lines.each do |line| %>
	<p><%= line.text %></p>
<% end %>

<%= link_to 'New Lyric', new_topic_lyrics_path( @lyric.topic_id ) %>

