
<div class="one column"><%= link_to "<<", '#' %></div>
<div class="six columns line-<%= line.order_number %>"><%= link_to line.text, '#' %></div>
<div class="one column"><%= link_to ">>", '#' %></div>
<br class="clear">