
<div id="entity-0" >


<div class="offset-by-two four columns insert-link" >
	<div id="form-0">

	<!-- insert form -->
	<%= render partial: 'shared/insert_form',
			   locals: { line: lyric_lines.first,
			   			 first: 0,
			   			 second: lyric_lines.first.order_number } %>

	</div>
</div>

<br class="clear">


</div>


<% lyric_lines.each do |line| %>
	<%= render partial: 'shared/line', 
			   locals: { line: line, lyric_lines: lyric_lines } %>
<% end %>

